* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
input{
  border: 0px;
  width:100%;
  height: 100%;
  outline: 0px;
}
#trends-widget-5,#trends-widget-4,#trends-widget-3,#trends-widget-2,#trends-widget-1{
  height: 110%;
  width: 90%;
  margin-top: 60px;
}
.sub2main>div{

display: none;
height:500px;
padding:0px;
margin-left:100px;
border:0px;
position:absolute;
width: 100%;
z-index:300;
}
.listmenu{
  background: lightgray;
}
.listmenu li{
  border: 0px;
  margin: 0 auto;
  padding: 0px;
  height: 50px;
}
li{
  text-align: center;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  width: 26%;
  justify-content: center;
  padding:0px 25px;
  margin: 10px 55px;
}
.menu{
    text-align: center;
     box-shadow: 1px 1px 1px 1px gray;
    width: 26%;
    justify-content: center;
    padding:0px 25px;
    margin: 10px 55px;
}
.menu li{
    border:3px solid black;
}
.main, .sub3main,.listmenu{
  display: flex;
  flex-direction: row;
}
.sub3main li{
  width:33%;
  margin:5px;
}
.Chart,.Chart2{
  width:33%;
  height:500px;
}

body {
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    word-break: break-all;
    font-family: 'Heebo', sans-serif;
    h
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

.header-area {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}


.header-area.navbar-fixed {
25px    position: fixed;
}

.header-area > .navbar {
    width: calc(100% - 120px);
    margin: 0 60px;
    overflow: hidden;
}

@media (min-width: 1000px) {
    .header-area > .navbar {
        max-width: 900px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .header-area > .navbar {
        max-width: 1000px;
    }
}

.header-area > .navbar > .navbar-title {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    font-weight: 525;
    color: black;

}


.header-area > .navbar > .navbar-toggler {
    float: right;
    height: 70px;
    line-height: 70px;
    font-size: 32px;
    cursor: pointer;
}

.main{
  display: flex;
  flex-direction: row;
}
#trends-widget-1,#trends-widget-2,#trends-widget-3{
  height: 500px;
}
#trends-widget-4{
  height: 400px;
}
.header-area > .navbar > .navbar-menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 70px;
    left: 0;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    overflow: hidden;
}

.header-area > .navbar > .navbar-menu.show {
    height: 200px;
}

.header-area > .navbar > .navbar-menu > .nav-item {
    float: none;
    display: block;
    height: 50px;
    line-height: 50px;
}


@media (min-width: 992px) {
    .header-area > .navbar > .navbar-menu {
        position: relative;
        background-color: transparent;
        float: right;
        top: 0;
        width: auto;
        height: auto;
        transition: none;
    }

    .header-area > .navbar > .navbar-menu.show {
        height: auto;
    }

    .header-area > .navbar > .navbar-menu > .nav-item {
        display: inline-block;
        height: 70px;
        line-height: 70px;
    }

    .header-area > .navbar > .navbar-menu > .nav-item > a {
        display: block;
        padding-left: 20px;
        color: black;
    }
}

.title{
    text-align: center;
    padding-top:100px;
    padding-bottom: 70px;
    font-size:48px;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 6px;
    font-weight: 700;
    animation-duration:2s;
    animation-name:title;
    color:#6C51D9;
}
.title2{
    text-align: center;
    margin-top: 70px;
    margin-bottom:70px;
    font-size:48px;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 5px;
    font-weight: 700;
    animation-duration:2.5s;
    animation-name:title;
    color:#6C51D9;
}
.text{
      font-size:32px;

}
.exbox{
    height:250px;
}
.s4{
    height: 400px;
    width: 425px;
}
@keyframes title{
    0%{
        margin-bottom: -45px;
    }
    30%{
        letter-spacing: 18px;
        margin-bottom: -45px;
    }
    85%{
        letter-spacing: 6px;
        margin-bottom: -45px;

    }

}
@keyframes title2{
    0%{
        margin-bottom: -45px;
    }
    30%{
        letter-spacing: 18px;
        margin-bottom: -45px;
    }
    85%{
        letter-spacing: 6px;
        margin-bottom: -45px;

    }

}
